.backLinkContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FBFBFB;
    width: 64px;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #EAEAEA;
}
.button {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}