.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.imageContainer{
    position: relative;
    background: #EFEFEF;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 0 0;
}
.image{
    position: absolute;
    width: 40px;
    height: 40px;
}

.backLinkContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FBFBFB;
    width: 64px;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #EAEAEA;
}
.button {
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.formContainer {

}
.borderContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
}
.borderContainer:last-of-type {
    border: none;
    margin: 0;
}

.exitButton {
    border: none;
    background: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: #FF0000;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}

.navigationContainer {
    margin: 60px 0 0 0;
}