.button {
    background: #3369F3;
    border-radius: 8px;
    color: #FFFFFF;
    width: 280px;
    height: 37px;
    border: inherit;
    margin: 47px 0 14px 0;
    padding: 0;
    cursor: pointer;
}