.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    min-width: 340px;
    padding: 50px 30px 30px 30px;
    box-sizing: border-box;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 32px;
}