.link {
    color: #3369F3;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}